# These are sample values for your .env file. You can fill in the values here and 
# rename this file to .env or make a copy. 
CONSUMER_BOOTSTRAP_1="psxlogexportstage.service-now.com:4000,psxlogexportstage.service-now.com:4001,psxlogexportstage.service-now.com:4002,psxlogexportstage.service-now.com:4003"
CONSUMER_BOOTSTRAP_2="psxlogexportstage.service-now.com:4200,psxlogexportstage.service-now.com:4201,psxlogexportstage.service-now.com:4202,psxlogexportstage.service-now.com:4203"
KAFKA_TOPIC="snc.psxlogexportstage.sn_logstoanalytics.aaa"
KAFKA_CERT_FILE="some_filename"
KAFKA_KEY_FILE="some_filename"
KAFKA_CA_FILE="some_filename"